@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

html {
    background-color: rgb(184, 0, 0);
    color: white;
    font-family: 'Sora', sans-serif;
}

section {
    margin-top: 150px;
    background-color: rgb(184, 0, 0);
    color: white;
}

ion-icon {
    vertical-align: middle;
    margin-bottom: 2px;
}

.container-center {
    display: flex;
    justify-content: center;
}

.minia {
    box-shadow: 0 4px 2px -2px grey;
    border-radius: 5px;
}